<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbm81E70ke8Z0nuP4W5w-47_mOgkFARNc</string>
	<key>GCM_SENDER_ID</key>
	<string>149971017649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elRapidoInc</string>
	<key>PROJECT_ID</key>
	<string>elrapidoinv-c3df4</string>
	<key>STORAGE_BUCKET</key>
	<string>elrapidoinv-c3df4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149971017649:ios:9bbf45c87ca7b29f972790</string>
</dict>
</plist>